<table>
  <tbody>
    <tr>
      <th><%= translate 'allowed_users' %></th>
      <td>
        <select name="settings[allowed_users][]" multiple>
          <% User.where("users.login IS NOT NULL AND users.login != ''").each do |us| %>
            <option value="<%= us.id.to_s %>" <%= (!Setting.plugin_welcome_picture['allowed_users'].blank? && Setting.plugin_welcome_picture['allowed_users'].include?(us.id.to_s) ? 'selected' : '') %>><%= us.login.to_s %></option>
          <% end %>
        </select>
      </td>
    </tr>
  </tbody>
</table>
